@use "../varibles" as *;

.filter {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__group {
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
    gap: 12px;

    &_choices {
      gap: 64px;
    }
  }

  &__radio {
    appearance: none;
    position: absolute;
  }

  &__label {
    padding: 16px;
    padding-left: 60px;
    cursor: pointer;
    border-radius: 300px;
    background-color: $white;
    color: $dark;
    background-position: center left 16px;
    background-repeat: no-repeat;
    background-size: 40px;

    &_flower {
      background-image: url("/img/flowers.png");
    }

    &_toys {
      background-image: url("/img/bear-toy.png");
    }

    &_postcard {
      background-image: url("/img/postcard.png");
    }

    &:hover {
      background-color: $orange;
    }
  }

  &__radio:focus-visible + &__label {
    outline: 2px solid $orange;
    outline-offset: 5px;
  }

  &__radio:checked + &__label {
    background-color: $light-orange;
  }

  &__choices {
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;

    &:after {
      content: "";
      width: 8px;
      height: 8px;
      background: url("/img/arrow.svg") no-repeat center/contain;
    }
  }

  &__input-price {
  }

  &__type-list {
  }

  &__type-item {
  }

  &__type-button {
  }
}
