@use "../varibles" as *;

.goods {
  padding: 60px 0;

  &__title {
    font-family: $second-family;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $green;
    margin-bottom: 4px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 310px);
    justify-content: center;
    gap: 24px 20px;
  }
}
