@use "fonts";
@use "base";
@use "./modules/header";
@use "./modules/hero";
@use "./modules/filter";
@use "./modules/choices";
@use "./modules/goods";
@use "./modules/card";
@use "./modules/subscribe";
@use "./modules/footer";
@use "./modules/cart";

@import "normalize.css";
